body{
    background-color: rgba(229, 237, 240, 0.457);
}

.contlayout {
    overflow-x: auto; /* Add horizontal scroll */
  }
  
  .table-responsive {
    overflow-y: auto; /* Add vertical scroll */
    max-height: 300px; /* Set the maximum height of the table */
  }
  
.table thead th, tr{
    text-align: center; /* Center align the table headings */
  }

.customerDetailsOrder{
  margin: 20px;
  color: rgb(105, 105, 105);    
}